{% extends 'base.html' %} {% load static %}
{% block title %}Home{% endblock title %} 
{% block main %}

 <div class="section section-white">
            <div class="container">

                <div id="navigation-pills">
                    <div class="title">
                        <h3>Crie você mesmo, seus qrcode.</h3>
                    </div>

                    <div class="row">

                        <div class="col-lg-12 col-md-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <ul class="nav nav-pills nav-pills-icons flex-column" role="tablist">

                                        <li class="nav-item">
                                            <a class="nav-link active" href="#dashboard-2" role="tab" data-toggle="tab">
                                                <i class="material-icons">web</i>
                                                WEB SITE URL
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#schedule-2" role="tab" data-toggle="tab">
                                                <i class="material-icons">edit</i>
                                                TEXTO LIVRE
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#schedule-3" role="tab" data-toggle="tab">
                                                <i class="material-icons">contacts</i>
                                                CONTATO
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-md-8">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="dashboard-2">
                                            Collaboratively administrate empowered markets via plug-and-play networks.
                                            Dynamically procrastinate B2C users after installed base benefits.
                                            <br><br>
                                            Dramatically visualize customer directed convergence without revolutionary
                                            ROI.
                                        </div>
                                        <div class="tab-pane" id="schedule-2">
                                            Efficiently unleash cross-media information without cross-media value.
                                            Quickly maximize timely deliverables for real-time schemas.
                                            <br><br>Dramatically maintain clicks-and-mortar solutions without functional
                                            solutions.
                                        </div>

                                        <div class="tab-pane" id="schedule-3">
                                            3 Efficiently unleash cross-media information without cross-media value.
                                            Quickly maximize timely deliverables for real-time schemas.
                                            <br><br>Dramatically maintain clicks-and-mortar solutions without functional
                                            solutions.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock main %} 


{% block javascript %} {% endblock javascript %}